.search-area {
    /*width: 575px;*/
    margin: 20px auto 50px;
    height: 20px;
}

.op {
    background: url(../img/query-report-icons.png) no-repeat;
    display: inline-block;
    height: 25px;
    margin-left: 10px;
    vertical-align: middle;
    width: 25px;
}

.del {
    background-position: -68px 0;
}

.main{
    background-color: #fff;
    padding:0 15px;
    min-width:1120px;
    min-height: 687px;
}

.btn-blue {
    background-color: #1792cd;
    color: #FFF!important;
    border-color: #1792cd;
}
.btn {
    height: 32px;
    line-height: 32px;
    display: inline-block;
    cursor: pointer;
    padding: 0 20px;
    text-align: center;
    color: #555;
    font-size: 14px;
    float: left;
    border: 1px solid #dbdad8;
    border-radius: 2px;
    margin-left: 10px;
}

.btn:hover {
    background-color: #1792cd;
    color: #FFF;
    border-color: #1792cd;
    float: left;
}

.line {
    background-color: #dbdad8;
    display: inline-block;
    height: 32px;
    width: 1px;
    /*position: relative;*/
    /*margin-top: 10px;*/
    /*padding-top: 10px;*/
    float: left;
    margin-left: 10px;
}

/*搜索区*/
.filter-box{line-height:34px;padding:22px 0;}
.filter-box label{color:#555;display:inline-block;float:left;font-size:14px;margin-left:20px;margin-right:10px;}
.filter-box label:first-child{margin-left:0px;}
.filter-box span.line{background-color:#dbdad8;display:inline-block;height:34px;width:1px;float:left;}
.filter-box .btn{cursor:pointer;float:left;margin:0 20px;}
.filter-box .btn:hover{background-color:#1792cd;color:#FFF;border-color:#1792cd;}
.filter-bg{border:1px solid #dbdad8;border-radius:2px;padding:20px;}
/*新增报表内容*/
.c-info-box{width:65%;padding:20px 0 20px 20px; float: left;}
.c-info-box2{ float: none; width: 97%;}
.btn-add-area{height:40px;line-height:40px;border:1px solid #1792cd;border-radius:2px;text-align:center;font-size:14px;}
.btn-add-area a{color:#1792cd;}
.c-info{border:1px solid #ddd;border-radius:2px;padding:20px;}
.c-info .row{border-bottom: 1px solid #eee;padding-bottom: 30px;margin-bottom: 30px;}
.c-info .row:last-child{border:none;padding-bottom:0;}
.c-info-init{background:url(../img/tip_bg.png) no-repeat center center #f5f5f5;padding-top:40px;text-align:center;height:400px;}
.c-info-init .btn{width:157px;height:40px;line-height:40px;text-align: center;}
.c-add-list{width:430px;background:url(../img/report_add_bg_right.png) repeat-y;transition:all 0.2s ease 0s;display:none;min-height: 650px;}
.op_box{height:24px;line-height:24px;text-align:right;}
.op_box a{background-color:rgba(1,1,1,0.5);border-radius:2px;color:#fff;display:inline-block;margin-left:2px;text-align:center;width:42px;}
.c-set-box{padding:52px 0 0 42px;}
.c-set-box .lt-select{height:25px;width:225px;font-size:12px;}
.c-set-box .lt-select a{background:none;color:#5c91bf;height:25px;line-height:25px;text-align:center;width:40px;}
.c-set-box .lt-select p{height:25px;line-height:25px;}
.c-set-box .lt-select ul{top:25px;}
.c-set-box .lt-select li{height:25px;line-height:25px;}
.c-set-box tr{display:block;margin-bottom:15px;}
.c-set-box a.add{margin-left:10px;    width: 90%;}
.c-set-box a.del{background:url(../img/del.png) no-repeat;display:inline-block;height:15px;overflow:hidden;text-indent:-99em;width:15px;margin-left:10px;}
.c-set-box .mt10{padding-left:75px;}
.block.nopadding {
    padding: 0;
}
.block {
    border: 1px solid #ddd;
    margin-bottom: 50px;
    padding: 20px;
}

ul, ol {
    list-style: none;
}

.w200 {
    width: 250px;
}
.w_half {
    width: 50%;
}
.right{
    float: right;
}
.mt10 {
    margin-top: 10px;
}
.mb15 {
    margin-bottom: 15px;
}

.search-area label {
    margin-left: 20px;
}
/*body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}*/
/*body,button,input,select,textarea{font:12px/1.5 'Microsoft Yahei',tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif}*/
/*h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}*/
/*address,cite,dfn,em,var,i{font-style:normal}*/
/*code,kbd,pre,samp{font-family:courier new,courier,monospace}*/
/*small{font-size:12px}*/
/*ul,ol{list-style:none}*/
/*a{text-decoration:none;color:#222;outline:none;}*/
/*a:hover{text-decoration:none;color:#1792cd;}*/
/*sup{vertical-align:text-top}*/
/*sub{vertical-align:text-bottom}*/
/*legend{color:#000}*/
/*fieldset,img{border:0}*/
/*button,input,select,textarea{font-size:100%}*/
/*table{border-collapse:collapse;border-spacing:0}*/
/*input,textarea{outline:none;}*/
/*body{color:#222;background-color:#FFF;word-wrap:break-word;word-break:normal;-webkit-text-size-adjust:none;}*/
/*.hide{display:none;}*/
/*/!*浮动*!/*/
/*.left{float:left;}*/
/*.right{float:right;}*/
/*.pos-r{position:relative;}*/
/*.pos-a{position:absolute;}*/
/*.clear{float:none;clear:both;}*/
/*/!*清除浮动*!/*/
/*.clearfix{zoom:1;}*/
/*.clearfix:before,.clearfix:after{content:" ";display:table;}*/
/*.clearfix:after{clear:both;}*/
/*/!*对齐*!/*/
/*.t-l{text-align:left;}*/
/*.t-r{text-align:right;}*/
/*.t-c{text-align:center;}*/
/*.v-mid{vertical-align:middle;}*/
/*.v-top{vertical-align:top;}*/
/*.v-bot{vertical-align:bottom;}*/
/*.ml10{margin-left:10px;}*/
/*.mr20{margin-right:20px;}*/
/*.mb15{margin-bottom:15px;}*/
/*.mt10{margin-top:10px;}*/
/*.mt30{margin-top:30px;}*/
/*.pt40{padding-top:40px;}*/
/*.pb40{padding-bottom:40px;}*/
/*/!*字体大小*!/*/
/*.f12{font-size:12px;}*/
/*.f14{font-size:14px;}*/
/*.f16{font-size:16px;}*/
/*.f18{font-size:18px;}*/
/*.f20{font-size:20px;}*/
/*.f25{font-size:25px;}*/
/*/!*颜色*!/*/
/*.blue{color:#1792cd;}*/
/*.c-555{color:#555;}*/
/*.c-999{color:#999;}*/
/*/!*图标*!/*/
/*.icon{background:url(../images/icons.png) no-repeat;}*/
/*/!*宽度*!/*/
/*.w20{width:20px;}*/
/*.w120{width:120px;}*/
/*.w160{width:160px;}*/
/*.w200{width:200px;}*/
/*.w250{width:250px;}*/
/*.w350{width:350px;}*/
/*/!*按钮*!/*/
/*.btn{height:32px;line-height:32px;display:inline-block;cursor:pointer;padding:0 20px;text-align:center;color:#555;font-size:14px;border:1px solid #dbdad8;border-radius:2px;}*/
/*.btn-blue{background-color:#1792cd;color:#FFF!important;border-color:#1792cd;}*/
/*/!*单选复选按钮*!/*/
/*.checkbox{display:inline-block;padding-left:22px;margin-right:10px;background:url(../images/checkbox_icons.png) 0 7px no-repeat;cursor:pointer;line-height:24px;height:24px;vertical-align:middle;}*/
/*.checkbox.checked{background-position:0 -17px;}*/
/*.checkbox.disabled{background-position:0 -90px;}*/
/*.checkbox.radio{background-position:0 -42px;}*/
/*.checkbox.radio.checked{background-position:0 -66px;}*/
/*.checkbox.radio.disabled{background-position:0 -114px;cursor:default;}*/
/*/!*footer*!/*/
/*.footer{border-top:1px solid #ddd;height:50px;padding:25px 0;}*/
/*.footer p{text-align:center;color:#777777;line-height:22px;}*/
/*.footer p a{margin:0 10px;color:#777777;}*/
/*.footer p a:hover{text-decoration:underline;}*/
/*/!*头部*!/*/
/*.header{background-color:#f2f2f2;border-bottom:1px solid #e1e1e1;border-top:5px solid #156796;height:60px;min-width:1120px;padding:0 15px;}*/
/*.header .logo a{background:url(../images/logo.png) no-repeat;display:block;height:43px;margin:9px 0 0;width:294px;}*/
/*.header .person-info{width:auto;height:100%;text-align:center;position:relative;z-index:9;background:url(../images/line.png) no-repeat left center;padding-left:15px;margin-left:15px;}*/
/*.header .person-info a{color:#333;display:block;}*/
/*.header .person-info a.nic-name{line-height:60px;}*/
/*.header .person-info a.nic-name img{padding:3px;border:1px solid #e3e3e3;background-color:#FFF;vertical-align:middle;margin-right:8px;}*/
/*.header .person-info a em.arrow{background-position:-91px -59px;display:inline-block;height:5px;margin-left:20px;vertical-align:middle;width:8px;}*/
/*.header .person-info ul{position:absolute;top:61px;left:0px;width:97%;background:#fff;box-shadow:0 0 3px #e0e4e7;}*/
/*.header .person-info ul li a{line-height:26px;background:#fff;text-align:left;padding-left:12px;color:#333;min-width:80px;}*/
/*.header .person-info ul li a:hover{background-color:#f6f7f9;color:#67b0f4;text-decoration:none;}*/
/*.header .report-center .icon{background-position:-111px 0;display:inline-block;height:28px;margin-top:21px;padding-right:37px;width:23px;}*/
/*.header .collect{position:relative;height:60px;}*/
/*.header .collect .icon{display:inline-block;height:28px;margin-top:18px;padding-right:17px;width:28px;}*/
/*.header .collect .icon:hover{background-position:-55px 0;}*/
/*.header .collect em{position:absolute;right:0;top:10px;padding:0 6px;color:#FFF;background-color:#c70d0d;font-family:arial; display:none;}*/
/*/!*导航*!/*/
/*.nav{background-color:#eee;border-bottom:1px solid #d3d3d3;height:100px;padding:0 15px 0 30px;min-width:1105px;}*/
/*.nav li{background-color:#fff;border:1px solid #e1e1e1;display:inline-block;float:left;height:80px;margin:10px 6px 0;text-align:center;width:100px;}*/
/*.nav li a{color:#333;display:block;height:68px;padding-top:12px;}*/
/*.nav .icon{display:block;height:35px;margin:0 auto 3px;width:35px;}*/
/*.nav .icon1{background-position:-1px -43px;}*/
/*.nav .icon2{background-position:0 -84px;}*/
/*.nav .icon3{background-position:1px -120px;}*/
/*.nav .icon4{background-position:0 -160px;}*/
/*.nav .icon5{background-position:0 -197px;}*/
/*.nav .icon6{background-position:0 -240px;}*/
/*.nav li a:hover .icon1,.nav li.cur .icon1{background-position:-34px -43px;}*/
/*.nav li a:hover .icon2,.nav li.cur .icon2{background-position:-34px -84px;}*/
/*.nav li a:hover .icon3,.nav li.cur .icon3{background-position:-33px -121px;}*/
/*.nav li a:hover .icon4,.nav li.cur .icon4{background-position:-34px -160px;}*/
/*.nav li a:hover .icon5,.nav li.cur .icon5{background-position:-33px -196px;}*/
/*.nav li a:hover .icon6,.nav li.cur .icon6{background-position:-34px -240px;}*/
/*.nav li a:hover,.nav li.cur a{color:#fff;background-color:#1792cd;border-color:#1173a2;}*/
/*/!*左边栏菜单*!/*/
/*.leftsidebar{border-left:1px solid #eee;border-right:1px solid #eee;height:100%;width:198px;}*/
/*.leftsidebar .title{font-size:14px;color:#aaa;border-bottom:1px solid #eee;background:url(../img/icons.png) no-repeat -67px -124px;height:39px;line-height:39px;padding-left:70px;}*/
/*.accordion-item{border-bottom:1px solid #eee;}*/
/*.accordion-item-active .accordion-header{background-color:#eff6fa;background-position:-67px -81px;border-left:3px solid #1792cd;margin-left:-3px;}*/
/*.accordion-item-active .accordion-header-icon{color:#fff;}*/
/*.accordion-item-active .accordion-header h1{color:#aaa;}*/
/*.accordion-header{background:url(../img/icons.png) no-repeat -67px -124px;cursor:pointer;height:39px;line-height:39px;padding-left:70px;}*/
/*.accordion-header h1{color:#222;float:left;font-size:14px;font-weight:normal;}*/
/*.accordion-content{display:none;}*/
/*.accordion-content p{margin:0;margin-bottom:3px;}*/
/*.accordion-header-icon{background:rgba(0,0,0,0) url("../img/icons.png") no-repeat scroll -10px -312px;float:right;text-indent:-9999em;width:20px;}*/
/*.accordion-header-icon.accordion-header-icon-active{background-position:-11px -283px;}*/
/*ul.navmenu-v li{float:left;position:relative;width:100%;}*/
/*ul.navmenu-v li a{background:url(../img/icons.png) no-repeat -54px -192px;color:#555;display:block;height:39px;line-height:39px;padding-left:80px;}*/
/*ul.navmenu-v li a em{background:url(../img/icons.png) no-repeat -10px -348px;display:inline-block;float:right;height:39px;width:20px;}*/
/*ul.navmenu-v li a:hover,ul.navmenu-v li a.on{background-position:-54px -160px;color:#1792cd;}*/
/*ul.navmenu-v li a.time{background-position:-83px -192px;padding-left:50px;}*/
/*ul.navmenu-v li a.time:hover{background-position:-83px -160px;}*/
/*ul.navmenu-v li.sub.cur a{background-color:#fff;border-bottom:1px solid #ddd;border-top:1px solid #ddd;margin:-1px 0;position:relative;width:119px;z-index:100;}*/
/*ul.navmenu-v li.sub.cur a em{display:none;}*/
/*ul.navmenu-v li ul{background-color:#fff;border:1px solid #eee;box-shadow:1px -1px 2px rgba(6,0,1,0.05);display:none;left:100%;padding:8px 17px;top:-1px;width:100px;z-index:99;position:absolute;}*/
/*ul.navmenu-v li.sub.cur ul a{background:none;width:auto;color:#555;border:medium none;height:24px;line-height:24px;padding:0;text-align:center;margin:3px 0;}*/
/*ul.navmenu-v li.sub.cur ul a:hover,ul.navmenu-v li.sub.cur ul a.on{background:#eff6fa;border-radius:2px;}*/
/*ul.navmenu-v li.sub.cur ul li{margin:1px 0;}*/
/*ul.navmenu-v li:hover ul ul,ul.navmenu-v li:hover ul ul ul,ul.navmenu-v li.iehover ul ul,ul.navmenu-v li.iehover ul ul ul{display:none;}*/
/*ul.navmenu-v li:hover ul,ul.navmenu-v ul li:hover ul,ul.navmenu-v ul ul li:hover ul,ul.navmenu-v li.iehover ul,ul.navmenu-v ul li.iehover ul,ul.navmenu-v ul ul li.iehover ul{display:block;}*/
/*ul.navmenu-v li ul.time{width:150px;}*/
/*/!*主体内容*!/*/
/*.main{background-color:#fff;padding:0 15px;min-width:1120px;}*/
/*.block{border:1px solid #ddd;margin-bottom:50px;padding:20px;}*/
/*.content{background:#fff;min-height:680px;}*/
/*.column-title{padding:15px 0px;line-height:32px;}*/
/*/!*面包屑*!/*/
/*.list-crumb{color:#999;margin-top:15px;}*/
/*.list-crumb a{color:#999;}*/
/*.list-crumb em,.list-crumb a:hover{color:#156796;}*/
/*/!*分页*!/*/
/*.page{margin-top:15px;}*/
/*.page em{margin:0 5px;}*/
/*.page a,a.export-table{color:#333;width:52px;text-align:center;cursor:pointer;height:22px;line-height:21px;display:inline-block;background:url(../images/little-btn.png) no-repeat;}*/
/*.page a:hover{text-decoration:none;}*/
/*.page a.go{width:35px;background-position:0 -46px;}*/
/*.page a.disable{background-position:0 -23px;cursor:not-allowed;color:#ccc;}*/
/*.page input{padding:0 5px;border:1px solid #A1A7AC;height:20px;line-height:20px;outline:none;margin-left:15px;text-align:center;}*/
/*.page input.bord-no{border:none;margin-left:0;background:none;}*/
/*/!*tab*!/*/
/*.tab-card{margin:20px 10px 20px 20px;border-bottom:1px solid #AFB4B9;}*/
/*.tab-card ul{position:relative;bottom:-1px;}*/
/*.tab-card li{float:left;height:39px;line-height:39px;width:124px;text-align:center;background:#fff url(../img/tab-card-bg.gif);margin-right:10px;color:#fff;font-size:14px;cursor:pointer;}*/
/*.tab-card li.cur{color:#333;font-weight:bold;background-position:right bottom;}*/
/*/!*select list *!/*/
/*input.text{border:1px solid #dbdad8;border-radius:2px;height:32px;line-height:32px;overflow:hidden;padding:0 10px;}*/
/*.select{position:relative;display:inline-block;vertical-align:middle;}*/
/*.select-input{border:1px solid #A1A6AC;line-height:24px;height:24px;overflow:hidden;border-radius:3px;padding:0 20px 0 5px;background:#fff url(../images/arrow.png) right center no-repeat;width:auto;cursor:pointer;}*/
/*.select-input.focus{border:1px solid #b1b6bc;background:#fff url(../img/arrow-up.png) right center no-repeat;}*/
/*.select-list{position:absolute;top:24px;left:0;border:1px solid #b1b6bc;background:#fff;display:none;}*/
/*.select-list li{cursor:pointer;line-height:24px;height:24px;display:block;padding:0 20px 0 5px;overflow:hidden;}*/
/*.select-list li:hover,.select-list li.cur{background-color:#E0E4EA;}*/
/*.lt-select{background-color:#fff;border:1px solid #dbdad8;border-radius:2px;float:left;font-size:14px;height:32px;position:relative;width:140px;}*/
/*.lt-select p{width:100%;height:32px;line-height:32px;padding-left:8px;color:#222;}*/
/*.lt-select a{position:absolute;right:0;top:0;display:block;width:30px;height:32px;background:url(../img/icons.png) no-repeat 2px -410px;border-left:1px solid #dbdad8;}*/
/*.lt-select a:hover{background-position:2px -380px;}*/
/*.lt-select ul{width:100%;position:absolute;border:1px solid #dbdad8;border-radius:0 0 3px 3px;background:#fff;left:-1px;top:32px;display:none;overflow-y:auto;overflow-x:hidden;max-height:260px;z-index:9;}*/
/*.lt-select li{height:32px;line-height:32px;color:#222;transition:All .5s ease;padding-left:8px;cursor:pointer;}*/
/*.lt-select li:hover{background:#dee9f2;}*/
/*.lt-select li a{background:rgba(0,0,0,0) none repeat scroll 0 0;color:#999;position:static;width:auto;}*/
/*遮罩层.mask{width:100%;height:100%;position:fixed;background:#fff;opacity:0.8;filter:alpha(opacity=50);top:0;left:0;z-index:990;}
*/
/*.mask{width:100%;height:100%;position:absolute;z-index:8;background:#fff;top:0;opacity:0.6;}*/
/*.load-img{width:249px;height:200px;background:url(../images/loading.gif) center center no-repeat;line-height:92px;margin:0 auto;position:relative;z-index:999}*/
/*/!*tipsy 插件样式*!/*/
/*.tipsy{padding:5px;font-size:10px;position:absolute;z-index:100000;}*/
/*.tipsy-inner{padding:5px 8px 4px 8px;font-size:12px;background-color:#FFFCEA;border:1px solid #EBCC45;color:#9A640A;max-width:200px;text-align:left;}*/
/*.tipsy-inner{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}*/
/*.tipsy-arrow{position:absolute;background:url('../images/tipsy.png') no-repeat top left;width:9px;height:6px;}*/
/*.tipsy-n .tipsy-arrow{top:0;left:50%;margin-left:-4px;}*/
/*.tipsy-nw .tipsy-arrow{top:0;left:10px;}*/
/*.tipsy-ne .tipsy-arrow{top:0;right:10px;}*/
/*.tipsy-s .tipsy-arrow{bottom:0;left:50%;margin-left:-4px;background-position:bottom left;}*/
/*.tipsy-sw .tipsy-arrow{bottom:0;left:10px;background-position:bottom left;}*/
/*.tipsy-se .tipsy-arrow{bottom:0;right:10px;background-position:bottom left;}*/
/*.tipsy-e .tipsy-arrow{top:50%;margin-top:-4px;right:0;width:5px;height:9px;background-position:top right;}*/
/*.tipsy-w .tipsy-arrow{top:50%;margin-top:-4px;left:0;width:5px;height:9px;}*/
/*弹出层*/
div#loadingBg{position:absolute;top:0;left:0;opacity:0.4;filter:alpha(opacity=40);z-index:999;background-color:#333;width:100%;}
div#shadeDiv{display:none;position:absolute;top:0;left:0;opacity:0.7;filter:alpha(opacity=70);z-index:9;background-color:#333;}
div#prompt{background-color:#fff;border:1px solid #ddd;display:none;position:fixed;z-index:99; min-height:400px;}
div#prompt_title{background-color:#f4f4f4;border-bottom:1px solid #ddd;color:#555;cursor:move;font-size:16px;height:48px;line-height:48px;padding-left:20px;}
span#prompt_close{position:absolute;right:20px;top:16px;cursor:pointer;background:url(../images/close.gif) no-repeat 0px 0px;width:16px;height:16px;outline:none;display:block;opacity:0.5;filter:alpha(opacity=50);}
span#prompt_close:hover{opacity:1;filter:alpha(opacity=100);}
div#prompt_body{padding:20px 20px 0;font-size:14px;line-height:1.5;}
div#prompt_bottom{display:none;text-align:center;padding:30px 0;}
div#prompt_bottom a.butn{display:inline-block;_display:block;_float:left;text-decoration:none;border:1px solid #5c7f0c;border-radius:2px;font-size:14px;padding:5px 18px;margin:0 8px;cursor:pointer;color:#fff;color:#fff!important;background:#51a80f;background:-moz-linear-gradient(top,#8dce55 0%,#5ab115 90%,#4fa70f 100%);background:-webkit-linear-gradient(top,#8dce55 0%,#5ab115 90%,#4fa70f 100%);background:-o-linear-gradient(top,#8dce55 0%,#5ab115 90%,#4fa70f 100%);background:-ms-linear-gradient(top,#8dce55 0%,#5ab115 90%,#4fa70f 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dce55',endColorstr='#4fa70f',GradientType=0 );background:linear-gradient(top,#8dce55 0%,#5ab115 90%,#4fa70f 100%);}
div#prompt_bottom a.butn#CancelFun{border-color:#b9b9b9;color:#777;color:#777!important;background:#F3F3F3;background:-moz-linear-gradient(top,#ffffff 0%,#ebebeb 90%,#F3F3F3 100%);background:-webkit-linear-gradient(top,#ffffff 0%,#ebebeb 90%,#F3F3F3 100%);background:-o-linear-gradient(top,#ffffff 0%,#ebebeb 90%,#F3F3F3 100%);background:-ms-linear-gradient(top,#ffffff 0%,#ebebeb 90%,#F3F3F3 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#d7d7d7',GradientType=0 );background:linear-gradient(top,#ffffff 0%,#ebebeb 90%,#F3F3F3 100%);}
div#prompt_bottom a.butn:hover{border:1px solid #666;}
.setArea{line-height:30px;}
.setArea .input-text{border:1px solid #BEC0C3;border-radius:3px;padding:5px;color:#ccc;}
.setArea .input-text.focus{color:#333;}
.setArea li{margin:8px 0;}
.setArea li li{margin:0px;}
.setArea li span,.setArea li input{display:inline-block;}
.setArea li label{display:inline-block;font-size:14px;}
.setArea li .ver-btn{border:1px solid #a7d14d;color:#306c00;background:#e4f3c2;border-radius:3px;padding:1px 5px;cursor:pointer;}
.setArea li .ver-btn:hover,.setArea li .save-btn:hover{opacity:0.9;filter:alpha(opacity=90);}
.table-provice{margin:0px;max-height:255px;}
/*消息提示tips*/
.msgbox_layer,.msgbox_layer .icon,.msgbox_layer .icon_clear,.msgbox_layer .icon_end{display:inline-block;height:54px;line-height:54px;font-weight:bold;font-size:14px;color:#606060;background:url(../images/gb_tip_layer.png) no-repeat;}
.msgbox_layer_wrap{width:100%;position:fixed;_position:absolute;top:46%;left:0;text-align:center;z-index:9999;padding-left:22px;}
.msgbox_layer{background-position:0 -161px;background-repeat:repeat-x;padding:0 18px 0 9px;margin:0 auto;position:relative;}
.msgbox_layer .icon{width:45px;position:absolute;left:-45px;top:0;}
.msgbox_layer .success{background-position:-6px 0;}
.msgbox_layer .icon_end{width:6px;background-position:0 0;position:absolute;right:-6px;top:0;}
.msgbox_layer .error{background-position:-6px -108px;}
.msgbox_layer .warn{background-position:-6px -54px;}
.msgbox_layer .icon_clear{background-position:-6px 0;width:5px;position:absolute;top:0;left:-5px;}
.msgbox_layer .loading{width:16px;height:16px;border:0;background-image:url(../images/loading.gif);float:left;margin:19px 10px 0 5px;}
/*弹出层*/
.alert{background:#fff;box-shadow:0 4px 16px #898c8c;position:fixed;}
.alert .title{font-weight:bold;font-size:16px;color:#444;padding-left:17px;height:50px;line-height:50px;border-bottom:1px solid #ededed;}
.alert .title a{float:right;background:url(../images/user-icons.png) 0 -42px;width:16px;height:16px;margin:16px 19px 0 0;filter:alpha(opacity=30);opacity:0.30;}
.alert .title a:hover{filter:alpha(opacity=100);opacity:1;}
.alert .dialog{text-align:center;padding:40px 0 10px 0;font-size:16px;}
.alert .dialog b{color:#ff6333;margin:0 6px;}
.alert .btn{text-align:center;margin:30px 0;}
.alert .btn a{margin:0 9px;display:inline-block;color:#fff;font-size:16px;width:86px;height:32px;line-height:32px;text-align:center;}
.alert .btn .save_btn{background:#ff6333;}
.alert .btn .clear_btn{background:#777;}
.alert .btn a:hover{box-shadow:0 0 6px #ccc;}

.list-crumb {
    color: #999;
    margin-top: 15px;
}


